<h3>Listings in <%= @neighborhood.name %> </h3>

<ul>
  <% @listings.each do |listing| %>
    <li>
      State: <%= listing.img_url %>
      </br>
      City: <%= listing.address %>
      </br>
      Zip: <%= listing.price_per_night %>
      </br>
      <%= listing.description %>
    </li>
  <% end %> 
</ul>     