<h3>Listings in <%= @neighborhood.name %> </h3>

<ul>
  <% @listings.each do |listing| %>
    <li>
      State: <%= listing.state %>
      </br>
      City: <%= listing.city %>
      </br>
      Zip: <%= listing.zip %>
      </br>
      <%= listing.img_url %>
    </li>
  <% end %> 
</ul>     