<h3>Listings in <%= @neighborhood.name %> </h3>

<ul>
  <% @listings.each do |listing| %>
    <li>
      <img src="<%= listing.img_url %>">
      </br>
      address: <%= listing.address %>
      </br>
      price: <%= listing.price_per_night %>
      </br>
      <%= listing.description %>
    </li>
  <% end %> 
</ul>     