<div class="sign_up">
<h1>Sign Up</h1>

<%= form_for @user do |f| %>
    <%= f.label :email %>
	<%= f.text_field :email %>
	<%= f.label :password %>
	<%= f.password_field :password %>
	<%= f.password_field :password_confirmation %>
	<%= f.password_field :password_confirmation %>
	<%= f.text_filed :img_url %>
	<%= f.text_field :img_url %>
<% end %>
</div>	
