<h1><%= @user.email %></h1>

<img src="<%= @user.img_url %>">

<ul>
  <% @listings.each do |listing| %>
    <li>
      <a href="/listings/<%= listing.id %>"><%= listing.address %></a>
      </br>
      <%= listing.description %>
      </br>
      <a href="/users/<%= listing.user.id %>"><%= listing.user.email %></a>
    </li>
  <% end %>
</ul>
