<h1><%= @neighborhood.name %></h1>

<img src="<%= @neighborhood.img_url %>">
<p><%= @neighborhood.city %></p>
<p><%= @neighborhood.state %></p>
<p><%= @neighborhood.zip %></p>

<a href="/neighborhoods/<%= @neighborhood.id %>/listings">See Listings!</a>





 